<h1>Пожалуйста подтвердите свою электронную регистрацию!</h1>

<p>
    Пожалуйста, подтвердите свой адрес электронной почты, перейдя по следующей ссылке: <br /><br />
    <a href="{{ verifyUrl }}">Подтвердите электронную почту</a>.
    Срок действия этой ссылки истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

