{% extends 'layouts/base.html.twig' %}
{% block title %}Избранные анкеты - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
{#    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>#}
    {% include 'partials/header.html.twig' %}
    <div class="">
        <div class="content">
            <div class="bread">
                <a href="/" class="nuxt-link-active">{{ 'Main page'|trans }}</a>
                <a href="{{ path('app_lk') }}">/ {{ 'Personal area'|trans }}</a>
                <a href="" class="nuxt-link-active" >/ Избранные анкеты</a>
            </div>
            <br />
            <div class="main-custom">
                <div class="fon"></div>
                <div class="big" >
                    <div class="title" >
                        <h2>Избранные анкеты</h2>
                    </div>

                    <div class="large fon">
                        <div class="in" >
                            {% include 'partials/_message.html.twig' %}
                            {% if worksheets %}
                                {% for job in worksheets %}
                                    {% include 'partials/pages/worksheet/_list_item.html.twig' %}
                                {% endfor %}
                            {% else %}
                                <p class="workers__position">Вы ещё не добавили никого в избранные</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
    {{ include('partials/pages/script/_map_script_workers.html.twig', {jobs: worksheets}) }}
{% endblock %}
